<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>发现</title>
    <link rel="stylesheet" href="css/find.css">
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="layui/css/layui.demo.css">
    <script type='text/javascript' src='js/webim.config.js'></script>
    <script type='text/javascript' src='js/strophe-1.2.8.min.js'></script>
    <script type='text/javascript' src='js/websdk-1.4.13.js'></script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/cookie.js"></script>
    <script src="layui/layui.js"></script>
    <script src="js/find/find.js" ></script>
</head>
<body>
<div class="layui-form">
    <div class="layui-container" style="padding:0">
        <div class="layui-row layui-col-space3">
            <div class="layui-col-xs7 mt15">
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入昵称/账号"
                       class="layui-input">
            </div>
            <div class="layui-col-xs1 mt15">
                <button class="layui-btn btncolor find">查找</button>
            </div>

            <div class="layui-col-xs3 mt15">
                <input type="radio" name="add" value="friend" title="找人" checked="">
                <input type="radio" name="add" value="group" title="找群">
                <button class="layui-btn layui-btn-xs btncolor createGroup">新建群</button>
            </div>
        </div>
        <div id="LAY_view"></div>
        <textarea title="消息模版" id="LAY_tpl" style="display:none;">
			<fieldset class="layui-elem-field layui-field-title">
			  <legend>{{ d.legend}}</legend>
			</fieldset>
			<div class="layui-row ">
				{{# if(d.type == 'friend'){ }}
					{{#  layui.each(d.data, function(index, item){ }}
					<div class="layui-col-xs3 layui-find-list">
						<li layim-event="add" data-type="friend" data-index="0" data-uid="{{ item.id }}"
                            data-name="{{item.nickname}}">
							<img src="{{item.avatar}}"
                                 onerror="javascript:this.src='image/photo/qq.png'">
							<span>{{item.nickname}}({{item.id}})</span>
							<p>{{item.sign}}  {{#  if(item.sign == ''){ }}我很懒，懒得写签名{{#  } }} </p>
							<button class="layui-btn layui-btn-xs btncolor add" data-type="friend"><i
                                    class="layui-icon">&#xe654;</i>加好友</button>
						</li>
					</div>
					{{#  }); }}
				{{# }else{ }}
					{{#  layui.each(d.data, function(index, item){ }}
					<div class="layui-col-xs3 layui-find-list">
						<li layim-event="add" data-type="group" data-approval="{{ item.approval }}" data-index="0"
                            data-uid="{{ item.id }}" data-name="{{item.groupname}}">
							<img src="uploads/person/{{item.id}}.jpg "
                                 onerror="javascript:this.src='image/group/default.jpg'">
							<span>{{item.groupname}}({{item.id}})</span>
							<p>{{item.des}}  {{#  if(item.des == ''){ }}无{{#  } }} </p>
							<button class="layui-btn layui-btn-xs btncolor add" data-type="group"><i class="layui-icon">&#xe654;</i>加群</button>
						</li>
					</div>
					{{#  }); }}
				{{# } }}
			</div>
        </textarea>

        <div class="lay_page" id="LAY_page"></div>
    </div>
</div>
</body>
</html>