<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WebIM 首页</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<link rel="stylesheet" href="layui/css/layui.css" media="all">
<link rel="stylesheet" href="css/contextMenu.css">
<link rel="stylesheet" href="css/menu.css">
<script src="layui/layui.js"></script>
<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/cookie.js"></script>
<script src="js/contextMenu.js"></script>
<script src="js/index.js"></script>
<body style="background-image: url('image/Mojave Night.jpg'); background-size: 100%;">
</body>
</html>
